body {
  background-color: #E6E6E6;
 }

h1 {
  border: 2px #eee solid;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
}

h2 {
  color: black;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  font-size: 16px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
}


p {
  padding-left: 10px;
  font-size: 14px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffd900;
height: 50px;
}

li {
float: left;
height: 50px;
}

li a {
display: block;
color: #004fb6;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
height: 50px;
}

/* Change the link color to Aviva blue on hover */
li a:hover {
background-color: #004fb6;
color: white;
height: 50px;
}

.alert {
  padding: 20px;
  margin: 10px;
  color: #ffd900;
  background-color: #004fb6;
      }

form {
  padding: 10px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
  font-size: 14px;
}

label {
  padding: 10px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
  font-size: 14px;
}

button {
  padding: 10px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
  font-size: 14px;
}

.output {
  padding: 10px;
  font-family: source_sans_pro_vf,fallback-system-fonts,sans-serif;
  font-size: 14px;
}

#stocks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#stocks td, #stocks th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stocks tr:nth-child(even){background-color: #f2f2f2;}

#stocks tr:hover {background-color: #ddd;}

#stocks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004fb6;
  color: white;
}

.center-form {
  display:flex;
  justify-content: center;
}

.nav-right {
  float: right;
  padding: 14px 18px;
}

.nav-right-top {
  float: right;
  padding: 0px 10px;
}

img {
  max-height: 50px;
}
