<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
     {% include 'template.html' %}
<h1>About</h1>
     <p>Over 15.5 million people in the UK choose us to protect their belongings and help plan their future.
         That future – and the things you want to achieve in between – can seem a long way off. But the small steps
         you take now will make a big difference later.
         With each step you take, we'll be right there beside you – helping you put one foot in front of the other
         towards a brighter, better future. </p>

<h2>Contact</h2>
    <p>You can get in touch with us in the following ways:</p>
        <ul>
            <ol>Email: <a href="mailto:test@aviva.com">test@aviva.com</a></ol>
            <ol>Phone: 01234 567890</ol>
            <ol>Visit us: Norwich, York or Bristol</ol>
        </ul>
</body>
</html>