<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Savings and Investments Home</title>
</head>
<body>
     {% include 'template.html' %}
<h1>Welcome to our Savings and Investments homepage</h1>

<p>
Welcome to the Savings, Investments and Budgeting Tracker.
</p>
<p>
Through this interface, you can quickly find the expected return for a savings account, look up the currrent price of stocks, or analyse your spending.
</p>
<p>
Please use the menu at the top to navigate to each section of the site.
</p>
</body>
</html>
