<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investment Search</title>
</head>
<body>
    <h1>Investments search page - WIP</h1>
    Select your stock

    <table>
        <tr>
            <th>symbol</th>
            <th>name</th>
        </tr>
        <tr>	<td>	A	</td>	<td>	Agilent Technologies Inc	</td>	</tr>
        <tr>	<td>	AA	</td>	<td>	Alcoa Corp	</td>	</tr>
        <tr>	<td>	AAA	</td>	<td>	AXS FIRST PRIORITY CLO BOND ETF 	</td>	</tr>
        <tr>	<td>	AAAU	</td>	<td>	Goldman Sachs Physical Gold ETF	</td>	</tr>
        <tr>	<td>	AAC	</td>	<td>	Ares Acquisition Corporation - Class A	</td>	</tr>
        <tr>	<td>	AAC-U	</td>	<td>	Ares Acquisition Corporation - Units (1 Ord Share Class A & 1/5 War)	</td>	</tr>
        <tr>	<td>	AAC-WS	</td>	<td>	Ares Acquisition Corporation - Warrants (01/01/9999)	</td>	</tr>
        <tr>	<td>	AACG	</td>	<td>	ATA Creativity Global	</td>	</tr>
        <tr>	<td>	AACI	</td>	<td>	Armada Acquisition Corp I	</td>	</tr>
        <tr>	<td>	AACIU	</td>	<td>	Armada Acquisition Corp I - Units (1 Ord & 1/2 War)	</td>	</tr>
        <tr>	<td>	AACIW	</td>	<td>	Armada Acquisition Corp I - Warrants (13/08/2026)	</td>	</tr>
        <tr>	<td>	AACT-U	</td>	<td>	Ares Acquisition Corporation II - Units (1 Ord Class A & 1/2 War)	</td>	</tr>
        <tr>	<td>	AADI	</td>	<td>	Aadi Bioscience Inc	</td>	</tr>
        <tr>	<td>	AADR	</td>	<td>	AdvisorShares Dorsey Wright ADR ETF	</td>	</tr>
        <tr>	<td>	AAIC	</td>	<td>	Arlington Asset Investment Corp - Class A	</td>	</tr>
        <tr>	<td>	AAIC-P-B	</td>	<td>	Arlington Asset Investment Corp	</td>	</tr>
        <tr>	<td>	AAIC-P-C	</td>	<td>	Arlington Asset Investment Corp	</td>	</tr>
        <tr>	<td>	AAIN	</td>	<td>	Arlington Asset Investment Corp	</td>	</tr>
        <tr>	<td>	AAL	</td>	<td>	American Airlines Group Inc	</td>	</tr>
        <tr>	<td>	AAMC	</td>	<td>	Altisource Asset Management Corp	</td>	</tr>
        <tr>	<td>	AAME	</td>	<td>	Atlantic American Corp	</td>	</tr>
        <tr>	<td>	AAN	</td>	<td>	Aarons Company Inc (The)	</td>	</tr>
        <tr>	<td>	AAOI	</td>	<td>	Applied Optoelectronics Inc	</td>	</tr>
        <tr>	<td>	AAON	</td>	<td>	AAON Inc	</td>	</tr>
    </table>
    <form action="/investment_search" method="post">
        <input autocomplete="off" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        <input autocomplete="off" id="quantity" name="quantity" placeholder="Quantity" type="number">
        <button type="submit">Quote</button>
    </form>
</body>
</html>
