<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Savings</title>
</head>
<body> {% include 'template.html' %}

<h1>Savings calculator</h1>
<p>You can choose between Instant Savings and Fixed Bonds and use our calculator below to find out the interest
    rates for each type.</p>

<h2>Instant Savings</h2>
<p>Access your money whenever you need it, without having to give notice. Ideal for if you need to dip into your savings.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bank name</th>
      <th scope="col">Interest rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Aviva</td>
      <td>1%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Lloyds</td>
      <td>2%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Natwest</td>
      <td>3%</td>
    </tr>
  </tbody>
</table>

<form action="" method = "POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Choose the amount of money you want to deposit:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput" name="money" placeholder="Amount to deposit" type="number">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Decide how many years to invest your money for:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput2" name="years" placeholder="Years to invest" type="number">
      <label for="formGroupExampleInput3">Select the interest rate:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput3" id="interest" name="interest" placeholder="Interest rate (%)" type="number">
    <button type="submit" class="btn btn-primary my-1">Submit</button>
  </div>
</form>

<h2>Fixed Bonds</h2>
<p>If you already have savings that you don’t mind locking away for a couple of years. Fixed Bonds are a great way of
    making more of your money in the long term. The longer you decide to leave them, the more rewarding your
    interest rate will be.</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bank name</th>
      <th scope="col">Rate if invested for less than 3 years</th>
      <th scope="col">Rate if invested for more than 3 years</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Aviva</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Lloyds</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Natwest</td>
      <td>3</td>
      <td>4</td>
    </tr>
  </tbody>
</table>

<form action="" method = "POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Choose the amount of money you want to deposit:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput" name="money" placeholder="Amount to deposit" type="number">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Decide how many years to invest your money for:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput2" name="years" placeholder="Years to invest" type="number">
      <label for="formGroupExampleInput3">Select the interest rate:</label>
      <input autocomplete="off" class="form-control" id="formGroupExampleInput3" id="interest" name="interest" placeholder="Interest rate (%)" type="number">
    <button type="submit" class="btn btn-primary my-1">Submit</button>
  </div>
</form>   

</body>
</html>